* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.image1 {
  width: 100%;
}
.image2 {
  width: 100%;
}
.image3 {
  width: 100%;
}



.main-contents {
  width: 960px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contents-icon {
  float: left;
  width: 300px;
  position: relative;
  padding: 10px;
  border: 1px solid #eee;
  margin-right: 30px;
}



.contents-icon:nth-child(3){margin-right: 0;}

.num {
  position: absolute;
  top: 0;
  left: 0;
  background: orange;
  color: white;
  padding: 3px;
}

@media screen and (max-width:768px) {
  
  
  .contents-icon {
    float: none;
    width: 100%;
  }
  .main-contents {
    width: 90%;
    margin: 50px auto;
  }

  
  .contents-icon:nth-child(2) {
    margin-top: 20px;
  }
  .contents-icon:nth-child(3) {
    margin-top: 20px;
  }
}